extends ./layout.pug
//- Create a block
block body
	div.text-center
		for item in items
			!= PrismicDOM.RichText.asHtml(item.data.title)
			!= PrismicDOM.RichText.asHtml(item.data.description)
			img.img-responsive(src=item.data.image.url)