extends ./layout.pug
//- Create a block
block body
	div
		for item in items
			!= PrismicDOM.RichText.asHtml(item.data.title)
			!= PrismicDOM.RichText.asHtml(item.data.description)
			img(src=item.data.image.url)